.main-container{
    background:  linear-gradient(#1F3170, rgb(31 31 31 / 89%)), url('../media/main-bg.png') center;
}


#container h1, .work-section h1{
    background: no-repeat center url("../media/bbblurry.svg");
}

.relative h1{
    background: no-repeat url("../media/bbblurry.svg");
}

.review-section{
    padding: 50px;
    margin: 40px 0px;
    background:  linear-gradient(#1F3170, rgb(31 31 31 / 89%)), url('../media/review-bg.jpg') center;
}

.review-section h1{
    color: white;
    font-size: 3rem;
    margin: 10px 0px;
    font-weight: 700;
    background-image: url('../media/bbblurry.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.box-con-container {
    display: flex;
    flex-direction: column;
  }
  
  .box-con-single {
    margin-bottom: 20px; 
  }
  
  .box-con-multiple {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 1024px) {
    .box-con-container {
      flex-direction: row;
    }
  
    .box-con-single {
      margin-bottom: 0;
    }
  
    .box-con-multiple {
      flex-direction: column;
      width: calc(100% - 200px); 
    }
  }
  
@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .quantity {
    animation: slideInFromLeft 0.6s ease-out forwards; 
  }
  
  .quantity.q1 {
    animation-delay: 0s;
  }
  .quantity.q2 {
    animation-delay: 0.2s;
  }
  .quantity.q3 {
    animation-delay: 0.4s;
  }
  .quantity.q4 {
    animation-delay: 0.6s;
  }
  
  .animated-img {
    animation: slideInFromLeft 0.6s ease-out forwards; 
  }

@keyframes dropFromTop {
    from {
      transform: translateY(-50px); 
      opacity: 0;
    }
    to {
      transform: translateY(0); 
      opacity: 1;
    }
  }
  
  .card {
    animation: dropFromTop 0.5s ease-out forwards; 
    opacity: 0; 
  }
  
  .card:nth-child(1) {
    animation-delay: 0.2s;
  }
  .card:nth-child(2) {
    animation-delay: 0.4s;
  }
  .card:nth-child(3) {
    animation-delay: 0.6s;
  }
  .card:nth-child(4) {
    animation-delay: 0.8s;
  }
  

@keyframes dropFromTop {
    from {
      transform: translateY(-20px); 
      opacity: 0;
    }
    to {
      transform: translateY(0); 
      opacity: 1;
    }
  }
  
  
  .accordion-item {
    animation: dropFromTop 0.5s ease-out forwards; 
    opacity: 0; 
  }
  
  
  .accordion-item:nth-child(1) {
    animation-delay: 0.2s;
  }
  .accordion-item:nth-child(2) {
    animation-delay: 0.4s;
  }
  .accordion-item:nth-child(3) {
    animation-delay: 0.6s;
  }
  .accordion-item:nth-child(4) {
    animation-delay: 0.8s;
  }
  