.main-container{
    background:  linear-gradient(#1F3170, rgb(31 31 31 / 89%)), url('../media/main-bg.png') center;
}


#container h1{
    background: no-repeat center url("../media/bbblurry.svg");
}

.relative h1{
    background: no-repeat url("../media/bbblurry.svg");
}

.review-section{
    padding: 50px;
    margin: 40px 0px;
    background:  linear-gradient(#1F3170, rgb(31 31 31 / 89%)), url('../media/review-bg.jpg') center;
}

.review-section h1{
    color: white;
    font-size: 3rem;
    margin: 10px 0px;
    font-weight: 700;
    background-image: url('../media/bbblurry.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.box-con-container {
    display: flex;
    flex-direction: column;
  }
  
  .box-con-single {
    margin-bottom: 20px; 
  }
  
  .box-con-multiple {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 1024px) {
    .box-con-container {
      flex-direction: row;
    }
  
    .box-con-single {
      margin-bottom: 0;
    }
  
    .box-con-multiple {
      flex-direction: column;
      width: calc(100% - 200px); 
    }
  }
  